h3{
	font-size: 2.37em;
}

p{
	font-size: 1.31em;
}

.descripcion{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	line-height: 1.6em;
	color: #5a5a5a;
	margin-top: 1.2em;
}

.collapse.navbar-collapse .navbar-nav.ml-auto > li > a:hover {
    color: #d2d62a;
}

.navbar{
	font-family: 'Open Sans', sans-serif;
  	font-size: 1.25em;
  	line-height: 1.6em;
  	border-top: 5px solid #d2d62a;
  	padding: 0px;
}

.collapse.navbar-collapse .navbar-nav.ml-auto .nav-item.dropdown .dropdown-menu.dropdown-menu-right > a:hover{
	color: #d2d62a;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel-item{
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn.btn-warning.btn-lg{
	background-color: #d2d62a;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-image: linear-gradient(to bottom,#d2d62a,#94971d);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-radius: 6px;
}

.carousel-caption{
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background: rgba(0,0,0,.2);
	max-width: 40%;
	padding: 5%;
	line-height: 0.87em;
	text-align: left;
	color: #fff;
	font-family: 'Dosis', sans-serif;
}

.logo{
	max-width: 250px; 
	max-height: 100px; 
	width: 250px; 
	height: 100px;
	margin-left: 1em;
}

.form-title{
	font-size: 2.37em;
	font-family: 'Dosis', sans-serif;
	color: #5a5a5a;
}

.form-desc{
	font-size: 1.31em;
	font-family: 'Dosis', sans-serif;
	color: #5a5a5a;
}

footer{
	padding: 1.6em;
}