body{
	margin-top: 115px;
}

h3{
	font-size: 2.37rem;
}

p{
	font-size: 1.31rem;
}

.navbar{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	line-height: 1.6rem;
	border-top: 5px solid #d2d62a;
	padding: 0px;
	color: #777;
}

.dropdown-item{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	color: #777;
}

.collapse.navbar-collapse .navbar-nav.ml-auto > li > a:hover {
    color: #d2d62a;
}

.collapse.navbar-collapse .navbar-nav.ml-auto .nav-item.dropdown .dropdown-menu.dropdown-menu-right > a:hover{
	color: #d2d62a;
}

.detalles-modelos{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	line-height: 1.6rem;
	font-weight: bold;
	color: #5a5a5a;
}

.descripcion-desktop{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	line-height: 1.6rem;
	color: #5a5a5a;
	margin-top: 1.2rem;
}

.descripcion-mobile{
	font-family: 'Muli', sans-serif;
	font-size: 1rem;
	line-height: 1.6rem;
	color: rgba(0,0,0,.7);
	margin-top: 1.2rem;
}

.separador{
	border-bottom-color: #35c4ff;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.thumb{
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border: 2px solid #cfcfcf;
}

.thumb{
	-webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.thumb:hover{
	width: 200px;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel-item{
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn.btn-warning.btn-lg{
	background-color: #d2d62a;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-image: linear-gradient(to bottom,#d2d62a,#94971d);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-radius: 6px;
}

.carousel-caption{
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background: rgba(0,0,0,.2);
	max-width: 40%;
	padding: 5%;
	line-height: 0.87rem;
	text-align: left;
	color: #fff;
	font-family: 'Dosis', sans-serif;
}

.logo{
	max-width: 250px; 
	max-height: 100px; 
	width: 250px; 
	height: 100px;
	margin-left: 1rem;
}

.form-title{
	font-size: 2.37rem;
	font-family: 'Dosis', sans-serif;
	color: #5a5a5a;
}

.form-desc{
	font-size: 1.31rem;
	font-family: 'Dosis', sans-serif;
	color: #5a5a5a;
}

footer{
	padding: 1.6rem;
}

#back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
	border-color: black;
}

.modal-content {
height: 100%;
}