/*hoja de estilos*/

/*elementos generales de la página*/
html { 
	font-size: 1rem; 
}

body{
	margin-top: 130px;
}

label{
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: #5a5a5a;
}

a {
  color: #d2d62a;
}

a:hover{
	color: #94971d;
}

footer{
	padding: 1.6rem;
}

/*barra de navegación*/
.navbar{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1.6rem;
	border-top: 5px solid #d2d62a;
	border-bottom: 10px solid #e9eaee;
	padding: 0px;
	color: #777;
}

.logo{
	max-width: 250px; 
	max-height: 100px; 
	height: auto; 
  width: auto; 
	margin-left: 1rem;
}

.dropdown-item{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	color: #777;
}

.collapse.navbar-collapse .navbar-nav.ml-auto > li > a:hover {
    color: #d2d62a;
}

.collapse.navbar-collapse .navbar-nav.ml-auto .nav-item.dropdown .dropdown-menu.dropdown-menu-right > a:hover{
	color: #d2d62a;
}

/*slider del index*/
.carousel .carousel-inner {
  height: 80vh;
  min-height: 350px;
}

.carousel-item{
  max-height: 80vh;
  min-height: 80vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel-caption{
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background: rgba(0,0,0,.2);
	max-width: 40%;
	padding: 5%;
	text-align: left;
	line-height: 0.87rem;
}

.carousel-h3{
	font-size: 2.37rem;
	text-align: left;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-p{
	font-size: 1.3rem;
	text-align: left;
	color: #fff;
	font-family: 'Dosis', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.btn.btn-warning.btn-lg{
	background-color: #d2d62a;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-image: linear-gradient(to bottom,#d2d62a,#94971d);
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-radius: 6px;
}

/*página detalle de cada auto*/
.detalles-modelos{
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: #5a5a5a;
}

/*barra celeste que separa cada banner de autos en el index*/
.separador{
	border-bottom-color: #35c4ff;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

/*thumbnails de las imágenes de cada auto*/
.thumb{
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	border: 2px solid #cfcfcf;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}

.thumb:hover{
	width: 200px;
}

/*pop ups de imágenes de autos*/
.modal-content {
	height: 100%;
}

/*logos del about*/
.img-plan{
	float: left;
	margin-right: 20px;
}

/*párrafo "consulte" del about*/
.consulte{
	font-size: 0.9rem;
}

/*formularios*/
.form-control:focus {
  border-color: #d2d62a;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(210, 214, 42, 0.5);
}

.custom-select:focus {
  border-color: #d2d62a;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(210, 214, 42, 0.5);
}

/*botón para volver arriba*/
#back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
	border-color: black;
}

/*estilos variados según tamaños de pantallas*/
@media only screen and (max-width : 768px){

	.logo{
		height: 70px;
	}
}

@media only screen and (min-width: 320px) {

	.descripcion-mobile{
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		color: rgba(0,0,0,.7);
		margin-top: 1.2rem;
	}

	p, li{
		font-size: 1rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

	h1{
		font-size: 1.3rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

	h2{
		font-size: 1.2rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

}

@media only screen and (min-width: 992px) {

  html { 
  	font-size: 1.25rem; 
  }

  h1{
		font-size: 1.5rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

	h2{
		font-size: 1.4rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

	p, li{
		font-size: 1.1rem;
		font-family: 'Open Sans', sans-serif;
		color: #5a5a5a;
	}

	.descripcion-desktop{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	color: #5a5a5a;
	margin-top: 1.2rem;
	}
}
